h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body,
p,
a,
input {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}
